# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
*.venv
venv/
.venv/
local_settings.py
api_test.http
.coverage
test-reports/
celerybeat-schedule.*

# Node
node_modules/
build/
dist/
npm-debug.log
yarn-error.log
yarn-debug.log

# Docker
*.log
*.pid
*.sock
db_data/
docker-compose.override.yml
.docker/

# VSCode / IDE
.vscode/
.idea/
*.iml